<!-- copyright -->
<div id="copyrights">
    <!-- Begin .container -->
    <div class="container">
        <!-- Begin .copyright -->
        <div class="copyright"> &copy; 2018, Copyrights astrohealthtv.com. All Rights Reserved</div>
        <!-- End .copyright -->
        <!--  Begin .footer-social-icons -->
        <div class="footer-social-icons">
            <ul>
                <li>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        <!--  End .footer-social-icons -->
    </div>
    <!-- End .container -->
</div>
<!-- copyright ends -->