<!-- module -->
<section class="module story-details" ng-init="fetchStory()">
    <div class="container">


        <div class="row">


            <!-- LEFT -->
            <div class="col-sm-12 col-md-9">


                <!---->
                <div class="detailNews">

                    <div class="module-title">
                        <h3 class="title" data-ng-bind="story.title"></h3>
                    </div>

                    <!-- video -->
                    <div class="detailVideo" style="width: 100%" ng-if="story">
                        <div class="video-full">
                            <div class="video-container">
                                <video ng-init="enableUploadVideo(story)"  ng-if="story.source!=='Youtube'" id="lp-pom-video-13" class="js-player-{{story._id}} vidAdjust"
                                       style="display:block;width: 100%">
                                    <source ng-src="{{story.link}}"
                                            type="video/mp4"/>
                                </video>

                                <div class="youtube-video-{{story._id}}" style="display:block;width: 100%" ng-if="story.source==='Youtube'"  data-type="youtube" ng-init="enableYoutube(story)" data-video-id="{{story.link|youtubeLink}}"></div>
                            </div>
                        </div>
                    </div>
                    <!-- video ends -->

                    <div class="row">
                        <div class="col-sm-12 clearfix" style="margin-bottom: 15px">
                            <div class="col-sm-6 pull-left">
                                <div style="font-size:18px" data-ng-bind="story.userCreated.username"></div>
                                <div style="color:darkgrey" data-ng-bind="story.lastUpdated|viewDate"></div>
                            </div>
                            <div class="col-sm-6 ">
                                <span class="pull-right">
                                 <a style="padding: 5px;" href="#" ><i style="color:#3b5998" class="fa fa-facebook-official fa-2x"></i></a>
                                <a style="padding: 5px;"  href="#" ><i style="color:#e52d27" class="fa fa-youtube fa-2x"></i></a>
                                <a style="padding: 5px;"  href="#"><i style="color:#2e9edd" class="fa fa-twitter fa-2x"></i></a>
                                <a style="padding: 5px;"  href="#"><i style="color:#dd4b39" class="fa fa-google-plus fa-2x"></i></a>
                                </span>

                            </div>
                        </div>
                    </div>


                    <div class="item-content" style="font-size: 16px" data-ng-bind="story.description">


                    </div>


                </div>
                <!---->

            </div>
            <!-- LEFT ENDS -->

            <!-- RIGHT -->
            <div class="col-xs-12 col-md-3 tR--news" ng-init="fetchVideos()">
                <div class="title-left title-style04 underline04">
                    <h3><a href="#"><strong>Related</strong> Stories</a></h3>
                </div>
                <!-- End .block-title-1 -->
                <!--========== BEGIN .SIDEBAR-NEWSFEED ==========-->
                <div class="sidebar-newsfeed">
                    <!-- Begin .newsfeed -->
                    <div class="newsfeed-3">
                        <ul>
                            <li data-ng-repeat="video in videos">
                                <div class="item" style="cursor: pointer" ng-click="redirectToDetails(video)">
                                    <div class="item-image">
                                        <span class="img-link">
                                        <img class="img-responsive img-full" src="https://static.nfl.com/static/content/public/static/wildcat/assets/icons/ic_playVideo.svg">
                                        </span>
                                    </div>
                                    <div class="item-content">
                                        <h4 class="ellipsis" style="line-height: 20px;max-height: 40px;height:40px;" data-ng-bind="video.title"></h4>

                                        <p style="display: block;height:48px" class="ellipsis" data-ng-bind="video.description"></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End .newsfeed -->
                </div>


            </div>
            <!-- RIGHT ENDS -->

        </div>


    </div>
</section>
<!-- module ends -->