<!-- footer -->

<footer id="footer">
    <div id="parallax-section2">
        <div class="bg parallax2 overlay img-overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h3 class="title-left title-style03 underline03">About Us</h3>

                        <p class="about-us">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book.
                            <br><br>
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of
                            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like... <a href="" class="uu">More</a></p>


                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h3 class="title-left title-style03 underline03">News</h3>

                        <div class="footer-post">
                            <ul>
                                <li>
                                    <div class="item">
                                        <div class="item-image">
                                            <a class="img-link" href="#">
                                                <img class="img-responsive img-full"
                                                     src="images/index_370x185-image01.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <p class="ellipsis"><a href="#">Deals do not have a trajectory like most
                                                other human interactions.</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="item-image">
                                            <a class="img-link" href="#">
                                                <img class="img-responsive img-full"
                                                     src="images/index_370x185-image14.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <p class="ellipsis"><a href="#">Harold E.says it proves the value of the
                                                kind of investigative journalism.</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="item-image">
                                            <a class="img-link" href="#">
                                                <img class="img-responsive img-full"
                                                     src="images/food_370x185-image05.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <p class="ellipsis"><a href="#">The consumer can be influenced by
                                                marketing before purchase.</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="item-image">
                                            <a class="img-link" href="#">
                                                <img class="img-responsive img-full"
                                                     src="images/index_370x185-image03.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <p class="ellipsis"><a href="#">Entertainment can aspire to be art, and
                                                can become art, but give pleasure.</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h3 class="title-left title-style03 underline03">Watch+Listen</h3>

                        <div class="footer-post">
                            <ul>
                                <li>
                                    <div class="item">
                                        <div class="item-image">
                                            <a class="img-link" href="#">
                                                <img class="img-responsive img-full"
                                                     src="images/art-entertainment_370x185-image04.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <p class="ellipsis"><a href="#">Music may help you think better, analyze
                                                matters faster, and work more efficiently.</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="item-image">
                                            <a class="img-link" href="#">
                                                <img class="img-responsive img-full"
                                                     src="images/index_370x185-image15.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <p class="ellipsis"><a href="#">Video on Demand can be used for
                                                entertainment and videoconferencing.</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="item-image">
                                            <a class="img-link" href="#">
                                                <img class="img-responsive img-full"
                                                     src="images/index_370x185-image08.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <p class="ellipsis"><a href="#">Podcast is a program made available in
                                                digital format for download.</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="item-image">
                                            <a class="img-link" href="#">
                                                <img class="img-responsive img-full"
                                                     src="images/index_370x185-image16.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <p class="ellipsis"><a href="#">Watch live TV news and your favorite
                                                shows on demand. At home or on the go!</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h3 class="title-left title-style03 underline03">Tags</h3>

                        <div class="tagcloud">
                            <a href="#">News</a>
                            <a href="#">Sports</a>
                            <a href="#">Schedule</a>
                            <a href="#">Health</a>
                            <a href="#">Business</a>
                            <a href="#">Travel</a>
                            <a href="#">Autos</a>
                            <a href="#">Deals</a>
                            <a href="#">Corporate</a>
                            <a href="#">Markets</a>
                            <a href="#">Design</a>
                            <a href="#">Food</a>
                            <a href="#">Broadcast News</a>
                            <a href="#">Politics</a>
                            <a href="#">Promo</a>
                            <a href="#">Entertainment</a>
                            <a href="#">Primetime News</a>
                            <a href="#">Advertising</a>
                            <a href="#">Android</a>
                            <a href="#">Live Feed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer ends -->