<!-- module -->
<section class="module highlight">
    <div class="container">
        <div class="module-title">
            <h3 class="title">World News</h3>

            <h3 class="subtitle">Watch the latest news</h3>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="news">
                    <!-- Begin .item -->
                    <div class="item">
                        <div class="item-image-1">
                            <a class="img-link" href="#">
                                <img class="img-responsive img-full" src="images/index_800x400-image01.jpg"
                                     alt="">
                            </a>
                            <span><a class="label-1" href="#">News</a></span>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><a href="#"><strong>Migrant</strong> Crisis</a></h3>
                            </div>
                            <p><a href="#" class="external-link">The proposal involves
                                resettling one Syrian refugee in Europe for each</a></p>

                            <p><a href="#" class="external-link">The U.N. says the mass return
                                of refugees to a third country would</a></p>

                            <div>
                                <a href="#"><span class="read-more">News</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End .item -->
                    <!-- Begin .item -->
                    <div class="item">
                        <div class="item-image-1">
                            <a class="img-link" href="#">
                                <img class="img-responsive img-full" src="images/index_800x400-image02.jpg"
                                     alt="">
                            </a>
                            <span><a class="label-3" href="#">Politics</a></span>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><a href="#"><strong>Smith's</strong> Team</a></h3>
                            </div>
                            <p><a href="#" class="external-link">Democratic presidential
                                candidate Smith speaks with supporters...</a></p>

                            <p><a href="#" class="external-link">On International Women's Day,
                                we celebrate women around the world...</a></p>

                            <div>
                                <a href="#"><span class="read-more">Politics</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End .item -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="news">
                    <!-- Begin .item-->
                    <div class="item">
                        <div class="item-image-1">
                            <a class="img-link" href="#">
                                <img class="img-responsive img-full" src="images/index_800x400-image03.jpg"
                                     alt="">
                            </a>
                            <span><a class="label-5" href="tech-science.html">Science</a></span>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><a href="#"><strong>Indonesia</strong></a></h3>
                            </div>
                            <p><a href="#" class="external-link">Image caption Belitung in
                                Indonesia was the best place to witness...</a></p>

                            <p><a href="#" class="external-link">Millions of people across
                                Indonesia and Pacific have experienced a total</a></p>

                            <div>
                                <a href="#"><span
                                        class="read-more">Tech-Science</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End .item-->
                    <!-- Begin .item -->
                    <div class="item">
                        <div class="item-image-1">
                            <a class="img-link" href="#">
                                <img class="img-responsive img-full" src="images/index_800x400-image04.jpg"
                                     alt="">
                            </a>
                            <span><a class="label-2" href="#">Health</a></span>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><a href="#"><strong>Global</strong> Health</a></h3>
                            </div>
                            <p><a href="#" class="external-link">Global health has been defined
                                as an area of study and research, that</a></p>

                            <p><a href="#" class="external-link">Everyone has the right to a
                                standard of living adequate for the health and</a></p>

                            <div>
                                <a href="#"><span class="read-more">Health</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End .item -->
                </div>
                <!--========== END .NEWS ==========-->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- module ends -->

<!-- module -->
<section class="module module-spacer bb">
    <div class="container">
        <!-- Begin .carousel-title -->
        <h3 class="carousel-title-custom"><span class="text">Video Gallery</span></h3>
        <!-- End .carousel-title -->
        <!-- Begin .gallery-slider owl-carousel -->
        <div class="big-gallery-slider-3">
            <div id="big-gallery-slider-3" class="owl-carousel">
                <div class="big-gallery">
                    <img src="images/index_slider-large-image01.jpg" alt="">
                    <a href="#"><span class="play-icon"></span></a>
                </div>
                <div class="big-gallery">
                    <img src="images/index_slider-large-image02.jpg" alt="">
                    <a href="#"><span class="play-icon"></span></a>
                </div>
                <div class="big-gallery">
                    <img src="images/index_slider-large-image03.jpg" alt="">
                    <a href="#"><span class="play-icon"></span></a>
                </div>
                <div class="big-gallery">
                    <img src="images/index_slider-large-image04.jpg" alt="">
                    <a href="#"><span class="play-icon"></span></a>
                </div>
                <div class="big-gallery">
                    <img src="images/index_slider-large-image05.jpg" alt="">
                    <a href="#"><span class="play-icon"></span></a>
                </div>
                <div class="big-gallery">
                    <img src="images/index_slider-large-image06.jpg" alt="">
                    <a href="#"><span class="play-icon"></span></a>
                </div>
            </div>
        </div>
        <!-- End .gallery-slider owl-carousel -->
    </div>
</section>
<!-- module ends -->

<!-- module -->
<section class="module module-spacer stateNews">
    <div class="container">
        <div class="module-title">
            <h3 class="title">National News</h3>

            <h3 class="subtitle">Latest News in details</h3>
        </div>
        <div class="news">
            <!-- Begin .item-->
            <div class="item">
                <h3 class="visible-xs visible-sm small-title">Haryana</h3>

                <div class="row">
                    <div class="col-xs-12 col-sm-5 pull-right flip">
                        <!---->
                        <div class="myNews">

                            <div class="news-box">
                                <div class="news-image">
                                    <a class="news-link" href="#">
                                        <img src="images/index_800x400-image21.jpg" alt="">
                                    </a>
                                </div>
                                <div class="news-content">
                                    <p><a href="#">Lorem Ipsum is simply dummy text of the printing</a></p>
                                </div>
                            </div>
                            <div class="news-box">
                                <div class="news-image">
                                    <a class="news-link" href="#">
                                        <img src="images/index_800x400-image28.jpg" alt="">
                                    </a>
                                </div>
                                <div class="news-content">
                                    <p><a href="#">Lorem Ipsum is simply dummy text</a></p>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!---->

                    <div class="col-xs-12 col-sm-7">

                        <div class="item-image-2">
                            <a class="img-link" href="#">
                                <img class="img-responsive img-full" src="images/index_800x400-image05.jpg"
                                     alt="">
                            </a>
                            <span><a class="label-2" href="#">Haryana</a></span>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                            </div>
                            <p><a href="#"> A man and a woman were arrested after he allegedly fired off several
                                rounds from a moving car</a></p>

                            <p><a href="#" class="external-link">The male passenger was arrested
                                for firing the gun and one of the women</a></p>

                            <div>
                                <a href="#"><span class="read-more">Politics</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
            <!-- End .item-->

            <!-- Begin .item-->
            <div class="item">
                <h3 class="visible-xs visible-sm small-title">Delhi</h3>

                <div class="row">
                    <div class="col-xs-12 col-sm-5 pull-right flip">
                        <!---->
                        <div class="myNews">

                            <div class="news-box">
                                <div class="news-image">
                                    <a class="news-link" href="#">
                                        <img src="images/index_800x400-image21.jpg" alt="">
                                    </a>
                                </div>
                                <div class="news-content">
                                    <p><a href="#">Lorem Ipsum is simply dummy text of the printing</a></p>
                                </div>
                            </div>
                            <div class="news-box">
                                <div class="news-image">
                                    <a class="news-link" href="#">
                                        <img src="images/index_800x400-image28.jpg" alt="">
                                    </a>
                                </div>
                                <div class="news-content">
                                    <p><a href="#">Lorem Ipsum is simply dummy text</a></p>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!---->

                    <div class="col-xs-12 col-sm-7">

                        <div class="item-image-2">
                            <a class="img-link" href="#">
                                <img class="img-responsive img-full" src="images/index_800x400-image05.jpg"
                                     alt="">
                            </a>
                            <span><a class="label-2" href="#">Haryana</a></span>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                            </div>
                            <p><a href="#"> A man and a woman were arrested after he allegedly fired off several
                                rounds from a moving car</a></p>

                            <p><a href="#" class="external-link">The male passenger was arrested
                                for firing the gun and one of the women</a></p>

                            <div>
                                <a href="#"><span class="read-more">Politics</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
            <!-- End .item-->

            <!-- Begin .item-->
            <div class="item">
                <h3 class="visible-xs visible-sm small-title">Punjab</h3>

                <div class="row">
                    <div class="col-xs-12 col-sm-5 pull-right flip">
                        <!---->
                        <div class="myNews">

                            <div class="news-box">
                                <div class="news-image">
                                    <a class="news-link" href="#">
                                        <img src="images/index_800x400-image21.jpg" alt="">
                                    </a>
                                </div>
                                <div class="news-content">
                                    <p><a href="#">Lorem Ipsum is simply dummy text of the printing</a></p>
                                </div>
                            </div>
                            <div class="news-box">
                                <div class="news-image">
                                    <a class="news-link" href="#">
                                        <img src="images/index_800x400-image28.jpg" alt="">
                                    </a>
                                </div>
                                <div class="news-content">
                                    <p><a href="#">Lorem Ipsum is simply dummy text</a></p>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!---->

                    <div class="col-xs-12 col-sm-7">

                        <div class="item-image-2">
                            <a class="img-link" href="#">
                                <img class="img-responsive img-full" src="images/index_800x400-image05.jpg"
                                     alt="">
                            </a>
                            <span><a class="label-2" href="#">Haryana</a></span>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                            </div>
                            <p><a href="#"> A man and a woman were arrested after he allegedly fired off several
                                rounds from a moving car</a></p>

                            <p><a href="#" class="external-link">The male passenger was arrested
                                for firing the gun and one of the women</a></p>

                            <div>
                                <a href="#"><span class="read-more">Politics</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
            <!-- End .item-->

            <!-- Begin .item-->
            <div class="item">
                <h3 class="visible-xs visible-sm small-title">Uttar Pradesh</h3>

                <div class="row">
                    <div class="col-xs-12 col-sm-5 pull-right flip">
                        <!---->
                        <div class="myNews">

                            <div class="news-box">
                                <div class="news-image">
                                    <a class="news-link" href="#">
                                        <img src="images/index_800x400-image21.jpg" alt="">
                                    </a>
                                </div>
                                <div class="news-content">
                                    <p><a href="#">Lorem Ipsum is simply dummy text of the printing</a></p>
                                </div>
                            </div>
                            <div class="news-box">
                                <div class="news-image">
                                    <a class="news-link" href="#">
                                        <img src="images/index_800x400-image28.jpg" alt="">
                                    </a>
                                </div>
                                <div class="news-content">
                                    <p><a href="#">Lorem Ipsum is simply dummy text</a></p>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!---->

                    <div class="col-xs-12 col-sm-7">

                        <div class="item-image-2">
                            <a class="img-link" href="#">
                                <img class="img-responsive img-full" src="images/index_800x400-image05.jpg"
                                     alt="">
                            </a>
                            <span><a class="label-2" href="#">Haryana</a></span>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
                            </div>
                            <p><a href="#"> A man and a woman were arrested after he allegedly fired off several
                                rounds from a moving car</a></p>

                            <p><a href="#" class="external-link">The male passenger was arrested
                                for firing the gun and one of the women</a></p>

                            <div>
                                <a href="#"><span class="read-more">Politics</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
            <!-- End .item-->

        </div>
    </div>
</section>
<!-- module ends -->


<!-- module -->
<section class="module module-spacer">
    <div class="container">
        <!-- Begin .carousel-title -->
        <h3 class="carousel-title-custom"><span class="text">Programs</span></h3>
        <!-- End .carousel-title -->
        <!-- Begin .gallery-slider owl-carousel -->
        <div class="small-gallery-slider">
            <div id="small-gallery-slider" class="owl-carousel">

                <div class="small-gallery">
                    <div class="image"><a href=""><img src="images/index_370x185-image01.jpg"></a></div>
                    <div class="text"><a href="">Title 001</a></div>
                </div>

                <div class="small-gallery">
                    <div class="image"><a href=""><img src="images/index_370x185-image02.jpg"></a></div>
                    <div class="text"><a href="">Title 002</a></div>
                </div>

                <div class="small-gallery">
                    <div class="image"><a href=""><img src="images/index_370x185-image03.jpg"></a></div>
                    <div class="text"><a href="">Title 003</a></div>
                </div>

                <div class="small-gallery">
                    <div class="image"><a href=""><img src="images/index_370x185-image04.jpg"></a></div>
                    <div class="text"><a href="">Title 004</a></div>
                </div>

                <div class="small-gallery">
                    <div class="image"><a href=""><img src="images/index_370x185-image05.jpg"></a></div>
                    <div class="text"><a href="">Title 005</a></div>
                </div>

                <div class="small-gallery">
                    <div class="image"><a href=""><img src="images/index_370x185-image06.jpg"></a></div>
                    <div class="text"><a href="">Title 006</a></div>
                </div>

                <div class="small-gallery">
                    <div class="image"><a href=""><img src="images/index_370x185-image07.jpg"></a></div>
                    <div class="text"><a href="">Title 007</a></div>
                </div>

                <div class="small-gallery">
                    <div class="image"><a href=""><img src="images/index_370x185-image08.jpg"></a></div>
                    <div class="text"><a href="">Title 008</a></div>
                </div>

            </div>
        </div>
        <!-- End .gallery-slider owl-carousel -->
        <!--========== END SMALL-GALLERY ==========-->

    </div>
    <!--========== END .CONTAINER ==========-->
</section>
<!-- module ends -->

<!-- add -->
<div class="add-place">
    <a href="#">
        <img src="images/bnr3.jpg" alt="">
    </a>
</div>
<!-- add ends -->

<!-- module -->
<section class="module highlight">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Begin .news -->
                <div class="news">
                    <div class="module-title">
                        <h3 class="title">Rethinking</h3>

                        <h3 class="subtitle">the MyNews.Com Experience</h3>
                    </div>
                    <!-- Begin .item -->
                    <div class="item">
                        <div class="item-image-1">
                            <a class="img-link" href="#">
                                <img class="img-responsive img-full" src="images/index_800x400-image17.jpg"
                                     alt="">
                            </a>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><a href="#"><strong>Breaking</strong> News Stories</a></h3>
                            </div>
                            <br>

                            <div class="post-meta-elements">
                                <div class="post-meta-author">
                                    <i class="fa fa-user"></i>
                                    <a href="#">By Hugh Jackson</a>
                                </div>
                                <div class="post-meta-date">
                                    <i class="fa fa-calendar"></i>December 25, 2016
                                </div>
                            </div>
                            <p><a href="#" class="external-link">At the 24h News we see breaking news events as
                                unexpected, momentous or informative events...</a></p>

                            <p><a href="#" class="external-link">Our editors also consider other aspects
                                of...</a></p>

                            <p><a href="#" class="external-link">Is this event part of a subject the 24h News
                                often reports on?</a></p>

                            <div>
                                <a href="#"><span class="read-more">Continue reading</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End .item -->
                    <!-- Begin .news-block" -->
                    <div class="news-block">
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image21.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <span class="day">Thu, Dec 12, 2016</span>

                                <p><a href="#" class="external-link">The energy choices</a></p>
                            </div>
                        </div>
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image22.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <span class="day">Thu, Dec 12, 2016</span>

                                <p><a href="#" class="external-link">Food/Agriculture</a></p>
                            </div>
                        </div>
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image23.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <span class="day">Thu, Dec 12, 2016</span>

                                <p><a href="#" class="external-link">Healthcare</a></p>
                            </div>
                        </div>
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image24.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <span class="day">Thu, Dec 12, 2016</span>

                                <p><a href="#" class="external-link">Housing/Construction</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End .news-block" -->
                    <div class="module-title">
                        <h3 class="title">Sport News</h3>

                        <h3 class="subtitle">Watch the latest sport news</h3>
                    </div>
                    <!-- Begin .item -->
                    <div class="item">
                        <div class="item-image-1">
                            <a class="img-link" href="#">
                                <img class="img-responsive img-full" src="images/index_800x400-image18.jpg"
                                     alt="">
                            </a>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><a href="#"><strong>Features</strong> & Analysis</a></h3>
                            </div>
                            <br>

                            <div class="post-meta-elements">
                                <div class="post-meta-author">
                                    <i class="fa fa-user"></i>
                                    <a href="#">By Hugh Jackson</a>
                                </div>
                                <div class="post-meta-date">
                                    <i class="fa fa-calendar"></i>December 25, 2016
                                </div>
                            </div>
                            <p><a href="#" class="external-link">From within the sport, the obligatory defence
                                mechanism.</a></p>

                            <p><a href="#" class="external-link">From outside the tennis, the inevitable
                                questions. But the broader question is this: where's the line?</a></p>

                            <p><a href="#" class="external-link">The player will face scrutiny use but you also
                                ...</a></p>

                            <div>
                                <a href="#"><span class="read-more">Continue reading</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End .item -->
                    <div class="news-block">
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image25.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <i class="fa fa-clock-o"></i>
                                <span class="day"> 1h ago</span>
                                <a href="#">Cricket</a>
                            </div>
                        </div>
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image26.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <i class="fa fa-clock-o"></i>
                                <span class="day"> 54min ago</span>
                                <a href="#"> Football</a>
                            </div>
                        </div>
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image27.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <i class="fa fa-clock-o"></i>
                                <span class="day"> 6h ago</span>
                                <a href="#"> Rugby</a>
                            </div>
                        </div>
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image28.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <i class="fa fa-clock-o"></i>
                                <span class="day"> 1h ago</span>
                                <a href="#">Cycling</a>
                            </div>
                        </div>
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image29.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <i class="fa fa-clock-o"></i>
                                <span class="day"> 1h ago</span>
                                <a href="#">Soccer</a>
                            </div>
                        </div>
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image30.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <i class="fa fa-clock-o"></i>
                                <span class="day">54min ago</span>
                                <a href="#">Soccer</a>
                            </div>
                        </div>
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image31.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <i class="fa fa-clock-o"></i>
                                <span class="day"> 6h ago</span>
                                <a href="#">Soccer</a>
                            </div>
                        </div>
                        <div class="item-block">
                            <div class="item-image">
                                <a class="img-link" href="#">
                                    <img class="img-responsive img-full" src="images/index_800x400-image10.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-content">
                                <i class="fa fa-clock-o"></i>
                                <span class="day"> 1h ago</span>
                                <a href="#">Soccer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .news -->
            </div>
            <div class="col-md-4">
                <!-- Begin .title-style02 -->
                <div class="module-title">
                    <h3 class="title">Top Headlines</h3>
                </div>
                <!-- End .title-style02 -->
                <div class="sidebar-post">
                    <ul>
                        <li>
                            <div class="item">
                                <div class="item-image">
                                    <a class="img-link" href="#">
                                        <img class="img-responsive img-full"
                                             src="images/index_370x185-image07.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h3>01</h3>

                                    <p class="ellipsis"><a href="#">Survivor is world's oldest man - Guinness
                                        World Records.</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item-image">
                                    <a class="img-link" href="#">
                                        <img class="img-responsive img-full"
                                             src="images/index_370x185-image08.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h3>02</h3>

                                    <p class="ellipsis"><a href="#">East Kilbride: Manager Billy O. to leave
                                        post on 20 Dec.</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item-image">
                                    <a class="img-link" href="#">
                                        <img class="img-responsive img-full"
                                             src="images/index_370x185-image09.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h3>03</h3>

                                    <p class="ellipsis"><a href="#">Nature's way of saying older women aren't
                                        attractive?</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item-image">
                                    <a class="img-link" href="#">
                                        <img class="img-responsive img-full"
                                             src="images/index_370x185-image10.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h3>04</h3>

                                    <p class="ellipsis"><a href="#">Last post for stamp collectors, valued in
                                        catalogues</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item-image">
                                    <a class="img-link" href="#">
                                        <img class="img-responsive img-full"
                                             src="images/index_370x185-image11.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h3>05</h3>

                                    <p class="ellipsis"><a href="#">The great age of the Post Office is past,
                                        here and indeed all over the ...</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item-image">
                                    <a class="img-link" href="#">
                                        <img class="img-responsive img-full"
                                             src="images/index_370x185-image12.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h3>06</h3>

                                    <p class="ellipsis"><a href="#"> World's biggest cruise ship is 'a
                                        construction site'.</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item-image">
                                    <a class="img-link" href="#">
                                        <img class="img-responsive img-full"
                                             src="images/index_370x185-image13.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h3>07</h3>

                                    <p class="ellipsis"><a href="#"> Zika: Experts call for Rio Olympic Games
                                        move over virus</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item-image">
                                    <a class="img-link" href="#">
                                        <img class="img-responsive img-full"
                                             src="images/index_370x185-image14.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h3>08</h3>

                                    <p class="ellipsis"><a href="#"> Why do I need to sign in with my TV service
                                        provider information? </a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item-image">
                                    <a class="img-link" href="#">
                                        <img class="img-responsive img-full"
                                             src="images/index_370x185-image15.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h3>09</h3>

                                    <p class="ellipsis"><a href="#"> Your TV subscription is your key to
                                        watching TV online. </a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item-image">
                                    <a class="img-link" href="#">
                                        <img class="img-responsive img-full"
                                             src="images/index_370x185-image15.jpg" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h3>10</h3>

                                    <p class="ellipsis"><a href="#"> Your TV subscription is your key to
                                        watching TV online. </a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--========== END .SIDEBAR-POST ==========-->

            </div>
        </div>

    </div>
</section>
<!-- module ends -->